name: docs-main

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build docs from main
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install hatch
        run: |
          pip install hatch

      - name: Test building documentation
        run: |
          hatch run docs:build

      - name: Deploy docs to gh-pages
        run: |
          git fetch origin gh-pages --depth=1
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          mike deploy --push ~latest --title=latest
